---
### Additional Information

<p><a href="/dox/ecrConLanguageConceptsMain.html">Language Concepts</a></p>

<p>Find out about the new Language Concepts when using Encore RPG.</p>

<p><a href="/dox/ecrLrfLangRefMain.html">Language Reference</a></p>

<p>Describes the Encore RPG programming language reference.</p>

<p><a href="//visualstudio.microsoft.com/vs/getting-started/">Getting Started with Visual Studio</a></p>

<p>Learn to code in Visual Studio</p>

---
<small>IntelliSense® is a registered trademark of Microsoft Corp.</small>